@media (max-width: 1356px) {
    .wrapper-1{
        width: 95%;
        margin: 0 auto;
    } 
    .wrapper-2{
        /* width: 90%; */
        /* width: 674px; */
        width: 88%;
        margin: 0 auto;
    }
    h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    }
    h2{
    font-size: 30px;
    font-weight: 600;
    line-height: 34px;
    }
    h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    }
    .text-24{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    }
    .text-18{
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    }
    .text-UI15{
    font-size: 13px;
    line-height: 17px;
    font-weight: 500;
    }
    
    /* Block for menu */
    .header-menu{
        height: 68px;
    }
    .header-menu .logo-baza{
        width: 100px;
        position: absolute;
    }
    .header-menu .header-menu-nav .href-menu{
        margin-left: 130px;
    }
    .header-menu .header-menu-nav{
        margin-top: 45px;
    }
    .header-menu .header-menu-nav .href-phone-form{
        margin-top: 4px;
    }
    .header-menu .header-menu-nav .href-menu li{
        /* font-size: 14px; */
        margin-right: 25px;
        display: none;
    }
    .header-menu .header-menu-nav .href-menu li:nth-child(3n){
        /* font-size: 14px; */
        margin-right:0px;
    }
    .header-menu .header-menu-nav .href-menu li:nth-child(-n+3) {
        display: inline-block;
    }
    .header-menu .header-menu-nav .href-menu li a {
        font-size: 14px;
    }

    .header-menu .header-menu-nav .href-menu.href-menu-mobile-act{
        background: white;
        padding-left: 20px;
        display: block;
        position: absolute;
        top: 100px;
        z-index: 100;
        -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
        box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
    }
    .header-menu .header-menu-nav .href-menu.href-menu-mobile-act li{
        display: block;
    }

    .header-menu .header-menu-nav .href-phone-form li .phone-class{
        /* font-size: 18px; */
        display: none;
        /* position: relative; */
    }
    .header-menu .header-menu-nav .href-phone-form li .form-call-class{
        /* font-size: 18px; */
        display: none;
        /* position: relative; */
    }
    .header-menu .header-menu-nav .href-phone-form li .phone-class-icons{
        /* content: ''; */
        /* position: absolute; */
        border:none;
        display: inline-block;
        width: 26px;
        height: 26px;
        background: url('../images/icons/phone.png') no-repeat center;
    }
    .header-menu .header-menu-nav .href-phone-form li .form-menu-class{
        display: inline-block;
        width: 30px;
        border:none;
        border-radius:0px;
        height: 20px;
        background: url('../images/icons/nav-menu.png')no-repeat center;
    }
    .header-menu .header-menu-nav .href-phone-form li .form-menu-class:hover{
        background: url('../images/icons/nav-menu.png')no-repeat center;
    }
    .header-menu .header-menu-nav .href-phone-form li{
        margin-left: 0px;
    }
    .header-menu .header-menu-nav .href-phone-form li button{
        width: 175px;
        height: 37px;
        font-size: 15px;
        line-height: 35px;
    }
    /* Block for menu--End */


    /* Client-header */
    .block-client-header{
        margin-top: 65px;
    }
    .block-client-header ul{
        margin-top: 24px;
    }
    .block-client-header ul li{
        font-size: 15px;
        margin-right: 65px;
    }
    
    .block-client-header ul .li-active{
        font-size: 15px;
        border-bottom: 2px solid #ff0e0e;
    }
    /* Client-header-end */

    /* text */
    .payment-methods-main .payment-methods-main-block p{
        width: 99%;
    }
    /* text-end */


    /* footer */
    .block-get-consult{
        /* display: none; */
    }
    .block-left-foot.client-footer-block{
        width: 90%;
    }
    .block-left-foot.client-footer-block .form-horizontal .btn-red{
        width: 200px;
        line-height: 54px;
    }
    footer{
        display: none;
    }
    /* footer-end */


    /* client-Partners */
    .our-partners-bank-block .our-partners-bank-item:nth-child(3n){
        margin-right: 34px;
     }
     .our-partners-bank-block .our-partners-bank-item:nth-child(2n){
        margin-right: 0px;
     }
     .our-partners-main .our-partners-main-desc{
        margin-top: 45px;
        font-size: 24px;
        line-height: 30px;
        width: 90%;
        margin-bottom: 40px;
     }
     /* client-Partners-end */


     /* client-Promotions-discounts */
     .promotions-and-discounts-main{
        margin-top: 56px;
     }
     .promotions-and-discounts-item{
        width: 702px;
        height: 357px;
        margin-bottom: 28px;
     }
     .promotions-and-discounts-item.promotions-and-discounts-item-2{
        height: 396px;
     }
     .promotions-and-discounts-item .promotions-and-discounts-text.promotions-and-discounts-text-href .btn-red{
        margin-top: -11px;
        width: 176px;
        line-height: 53px;
        height: 47px;
     }
     .promotions-and-discounts-item.promotions-and-discounts-item-2 .promotions-and-discounts-text.promotions-and-discounts-text-href{
        width: 180px;
     }
     .page-next-or-prev{
        display: flex;
        /* align-items: center; */
        justify-content: center;
        margin-top: 32px;
        border-top: 1px solid #e1e1e1;
        padding-top: 40px;
        padding-bottom: 37px;
        border-bottom: 1px solid #e1e1e1;
     }
     .page-next-or-prev li{
        margin-right: 77px;
     }
     .page-next-or-prev li:last-child{
         margin-right: 0px;
     }
     .page-next-or-prev li a{
        font-size: 30px;
     }
     .promotions-and-discounts-item .promotions-and-discounts-img-rel{
        float: right;
        margin-top: 20px;
        width: 355px;
        margin-right: 20px;  
     }
     .promotions-and-discounts-item .promotions-and-discounts-text.promotions-and-discounts-text-href,
     .promotions-and-discounts-item .promotions-and-discounts-text{
         margin-left: 30px;
     }
     .promotions-and-discounts-item .promotions-and-discounts-text.promotions-and-discounts-text-href, .promotions-and-discounts-item .promotions-and-discounts-text{
        /* margin-left: 0;
        margin-top: 0;
        padding-top: 220px; */
        float: left;
        margin-top: 84px;
        /* padding-top: 220px; */
        margin-left: 25px;
     }
     .promotions-and-discounts-item .promotions-and-discounts-img-abs{
        /* width: 100%;
        top: 0px;
        height: 195px; */
        position: absolute;
        bottom: 0px;
        /* max-height: 300px; */
        max-width: 390px;
     }
     .promotions-and-discounts-item .promotions-and-discounts-img-rel{
        position: absolute;
        right: 30px;
        top: 30px;
        max-width: 390px;
        max-height: 320px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
     }
     .promotions-and-discounts-text.promotions-and-discounts-text-href h2{
         margin-bottom: 35px;
     }
     .promotions-and-discounts-item .promotions-and-discounts-text p{
        margin-top: 15px;
     }
     /* client-Promotions-discounts-end*/

     /* <!-- Start-modal-form-for-menu --> */
     .block-modal-menu {
        background: white;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        padding-top: 30px;
        z-index: 999;
        padding-left: 20px;
        padding-right: 20px;
        z-index: 9999;
    }
    .logo-head, .block-menu-mobile {
        display: inline-block;
        float: left;
    }
    .block-menu-for-modal {
        float: right;
        margin-top: 22px;
        position: relative;
        z-index: 1000;
    }
  
    .block-menu-for-modal a {
        margin-left: 23px;
    }
    .block-menu-for-modal button{
        display: inline-block;
        background: no-repeat;
        border: none;
        float: left;
    }
    .block-menu-for-modal a:first-child {
        margin-left: 0px;
    }
    .modal-header-menu li {
        margin-top: 45px;
    }
    .modal-header-menu li a {
        /* margin-top: 45px; */
        font-size: 48px;
        line-height: 56px;
        font-weight: 600;
        color: black;
    }
    .modal-header-menu li a.active-menu-mobile{
        color:#ff0e0e;
    }
     /* <!-- End-modal-form-for-call --> */

     /* main */
     #body-main {
        display: none;
    }
    .block-mobile-monitor{
        display: block;
    }
    .block-content{
        display: none;
    }
    .header-menu.header-menu-white .header-menu-nav .href-phone-form li button{
        border: none;
    }
    .header-menu.header-menu-white .header-menu-nav .href-phone-form li button{
        border: none;
    }
    .header-menu.position-fixed-for-main{
        display: none;
    }
    /* .header-menu.position-fixed-for-main .header-menu-nav .logo-baza .cls-2{
        fill: #ff1515;
    } */
    .block-mobile-monitor {
        overflow: hidden;
    }
    .block-header-mobile {
        height: 1016px;
        width: 100%;
        position: relative;
        background-image: linear-gradient(#0f5281, #3e9fd2);
    }
    .wrapper {
        width: 90%;
        margin: 0 auto;
    }
    .header-mobile-menu {
        padding-top: 23px;
    }
    .header-mobile-menu{

    }
    .header-mobile-menu a {
        float: left;
    }
    .header-mobile-menu a svg{
        width: 100px;
        height: 100px;
    }
    .header-mobile-menu a .cls-2 {
        fill: white;
    }
    .block-mobile-monitor{
        overflow: hidden;
    }
    .block-header-mobile{
        height: 1016px;
        width: 100%;
        position: relative;
        background-image: linear-gradient(#0f5281, #3e9fd2);
    }
    /* .wrapper{
        width: 711px;
        margin: 0 auto;
    } */
    .header-mobile-menu{
        padding-top: 23px;
    }
    .block-menu-mobile{
        margin-top: 26px;
        position: relative;
        z-index: 1000;
    }
    .block-menu-for-modal{
        float: right;
        margin-top: 22px;
    }
    .block-menu-for-modal a{
        margin-left: 23px;
    }
    .block-menu-for-modal a:first-child{
        margin-left: 0px;
    }
    .block-menu-mobile li{
        display: inline-block;
        margin-left: 20px;
    }
    .block-menu-mobile li a{
        color:white;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 24px;
        font-weight: 600;
    }
    .block-menu-mobile li:first-child{
        margin-left: 40px;
    }
    .header-mobile-desc{
        margin-top: 442px;
    }
    .header-mobile-desc h2{
        font-size: 48px;
        line-height: 56px;
        color:white;
        margin-bottom: 50px;
    }
    .img-cloud-mobile-1, .img-cloud-mobile-2{
        position: absolute;
        opacity: 0.4;
        z-index: 100;
    }
    .img-cloud-mobile-1{
        left: 0px;
        top: -90px;
    }
    .img-helicopter-mobile-2{
        position: absolute;
        top:300px;
        left: 300px;
    }
    .header-mobile-desc .block-btn-click a{
        font-size: 14px;
        line-height: 40px;
        height: 40px;
        font-weight: 600;
    }
    .header-mobile-desc .block-btn-click button{
        font-size: 14px;
    line-height: 39px;
    height: 43px;
    font-weight: 600;
    width: 250px;
    }
    .block-see-change-apart .form-call-class-change-apart{
        display: none;
    }
    .modal-menu-false{
        display: inline-block;
        margin-left: 23px;
    }
    .block-modal-menu{
        background: white;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        padding-top: 30px;
        z-index: 9999;
    }
    .modal-header-menu li{
        margin-top: 45px;
    }
    .modal-header-menu li:last-child{
        margin-bottom: 399px;
    }
    .modal-header-menu li a{
        /* margin-top: 45px; */
        font-size: 48px;
        line-height: 56px;
        font-weight: 600;
        color:black;
    }
    .cloud-mobile-1{
        position: absolute;
        top: -100px;
        left: 0px;
        opacity: 0.4;    
    }
    .cloud-mobile-2{
        position: absolute;
        top: 240px;
        right: -750px;
        opacity: 0.4;  
    }
    .helicopter-mobile-2{
        position: absolute;
        top: 240px;
        right: 220px;
    }

    .main-mobile-gk-block{
        height: 326px;
        width: 100%;
        position: relative;
        /* background-repeat: no-repeat;
        background-size: 110%; */
    }
    .main-mobide-block .main-mobile-gk-block-2{
        position: absolute;
        height: 326px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .main-mobide-block .main-mobile-gk-block a{
        position: absolute;
        bottom: 30px;
        left: 30px;
        color:white;
        font-size: 18px;
    }
    .block-see-change-apart{
        background-image: linear-gradient(#0f5281, #3e9fd2);
        padding-top: 65px;
        padding-bottom: 65px;
    }
    .block-see-change-apart .block-pick-up-apartment{
        width: 711px;
        margin-left: 30px;
        margin-right: 30px;
        padding-bottom: 60px;
    }
    .block-see-change-apart .block-pick-up-apartment .block-horizontal{
        width: 630px;
        margin-top: 70px;
    }
    .block-see-change-apart .block-pick-up-apartment .btn-red{
        width: 300px;
        margin-top: 30px;
    }
    .apart-btn-close-modal{
        display: none;
    }
    .block-pick-up-apartment {
        position: relative;
        width: 372px;
        border-radius: 10px;
        background-color: #fff;
        padding: 25px 40px 5px 35px;
        margin-bottom: 30px;
        margin-left: 50px;
        margin-right: 60px;
    }
    .block-pick-up-apartment h3 {
        margin-bottom: 35px;
    }
    .block-pick-up-apartment .block-see-change-apart-btn a{
        display: none;
    }
    .block-change-apartment ul {
        margin-bottom: 0px;
    }
    .block-pick-up-apartment ul li {
        display: inline-block;
        margin-right: 10px;
        width: 38px;
        height: 38px;
        border: 1px solid #e5e5e5;
        text-align: center;
        font-size: 15px;
        line-height: 40px;
        border-radius: 5px;
        transition-timing-function: ease-in;
        transition: .3s;
    }
    .block-pick-up-apartment ul li:last-child {
        /* display: inline; */
        margin-right: 0px;
        width: 92px;
        transition-timing-function: ease-out;
        transition: .3s;
    }
    .block-pick-up-apartment ul li a {
        display: block;
        color: #000000;
        transition-timing-function: ease-out;
        transition: .3s;
    }
    .block-mobile-border-1{
        background-color: #f6f6f7;
    }
    .block-mobile-border-1 .img-gk-slider{
        background-color: #f6f6f7;
        padding: 0px;
        height: 800px;
        margin-bottom: 0px;
    }
    .block-mobile-border-1 .slider-board-1{
        background-color: #f6f6f7;
        margin-left: 0px;
    }
    .block-mobile-border-1 .slider-board-1 .block-title-slider{
        float: none;
        margin: 0px;
        /* margin: 0 auto; */
        margin-top: 500px;
        margin-left: 102px;
    }
    .block-mobile-border-1 .slider-board-1 .block-title-slider h2{
        margin-bottom: 40px;
        width: 500px;
    }
    .block-mobile-border-1 .slider-board-1 .slider-img{
        position: absolute;
        top: 0px;
        max-width: 568px;
        max-height: 510px;
        margin-left: 100px;
        margin-top: 50px;
    }
    .block-mobile-border-1 .slider-board-1 .slick-dots{
        left: 100px;
        bottom: -80px;
    }
    .block-mobile-border-1 .img-gk-slider .slick-prev, .block-mobile-border-1 .img-gk-slider .slick-next{
        display: none !important;;
    }
    .block-mobile-border-1 .slider-board-1 .slick-dots {
        left: 100px;
        bottom: -80px;
        position: absolute;
    }

    .block-mobile-border-2 .block-img-gk-briz-slider-title {
        margin-top: 0px;
        width: 280px;
        margin-left: 120px;
    }
    .block-mobile-border-2 .block-img-gk-briz-slider-title h2 {
        font-size: 30px;
        line-height: 34px;
        font-weight: 600;
        width: 280px;
    }
    .block-mobile-border-2 .block-img-gk-briz-slider-title ul {
        font-size: 18px;
    }
    .block-mobile-border-2 .block-img-gk-briz-slider-title ul li {
        margin-top: 15px;
        margin-left: 15px;
        position: relative;
    }
    .block-mobile-border-2 .block-img-gk-briz-slider-title ul li:before {
        position: absolute;
        content: '';
        width: 8px;
        height: 7px;
        top: 7px;
        left: -16px;
        background: url('../images/icons/icons8.png') center center no-repeat;
    }

    .slider-board-1 .slick-dots li, .slider-board-2 .slick-dots li {
        display: inline-block;
        margin-right: 10px;
    }
    .slider-board-1 .slick-dots li button, .slider-board-2 .slick-dots li button {
        border: 2px solid #fe2525;
        background: none;
        border-radius: 50%;
        color: white;
        opacity: 0.5;
        font-size: 1px;
        width: 14px;
        height: 16px;
    }
    .slider-board-1 .slick-dots li.slick-active button, .slider-board-2 .slick-dots li.slick-active button {
        opacity: 1;
    }
    .block-mobile-border-2{
        /* margin-top: 62px; */
        margin-bottom: 100px;
    }
    .slider-item-2{
        margin-top: 60px;
    }
    .block-mobile-border-2 .block-img-gk-briz-slider-img {
        border: 4px solid #ff4747;
        float: right;
        padding-top: 30px;
        padding: 30px 20px 0px;
        margin-right: 55px;
    }
    .block-mobile-border-2 .block-img-gk-briz-slider-img img{
        max-width: 280px;
        max-height: 450px;
    }
    .block-mobile-border-2 .block-img-gk-briz-slider-title{
        margin-top:0px;
        width: 280px;
        margin-left: 120px;
        float: left;
        margin-top: 200px;
    }
    /* block-img-gk-briz-slider-title */
    .block-mobile-border-2 .block-img-gk-briz-slider-title h2{
        font-size: 30px;
        line-height: 34px;
        font-weight: 600;
        width: 280px;
    }
    .block-mobile-border-2 .block-img-gk-briz-slider-title ul{
        font-size: 18px;
    }
    .block-mobile-border-2 .block-img-gk-briz-slider-title ul li{
        margin-top: 15px;
        margin-left: 15px;
        position: relative;
    }
  
    .block-mobile-border-2 .block-img-gk-briz-slider-title a{
        width: 179px;
        height: 50px;
        display: block;
        background: #ff0e0e;
        color: white;
        font-size: 15px;
        border-radius: 5px;
        line-height: 50px;
        text-align: center;
        margin-top: 35px;
    }
    .block-mobile-border-2 .slider-board-2-mobile .slick-arrow{
        display: none !important;
    }
    .block-mobile-border-2 .slider-board-2-mobile .slick-arrow{
        display: none !important;
    }
    .block-mobile-border-2 .slider-board-2-mobile .slick-dots li{
        display: inline-block;
        margin-right: 10px;
    }
    .block-mobile-border-2 .slider-board-2-mobile .slick-dots li button{
        border: 2px solid #fe2525;
        background: none;
        border-radius: 50%;
        color: white;
        opacity: 0.5;
        font-size: 1px;
        width: 13px;
        height: 17px;
    }
    .block-mobile-border-2 .slider-board-2-mobile .slick-dots li.slick-active button{
        opacity: 1;
    }
    .block-mobile-border-2 .slider-board-2-mobile .slick-dots{
        bottom: -30px;
        position: absolute;
        right: 100px;
    }
  
    /* .checked-change .group-input-check input[type="checkbox"]:checked +label::before {
        opacity: 1;
        background: url('../images/icons/checkmark-red.png') no-repeat center;
    } */
    .checked-change label::before{
        width: 20px;
        height: 20px;
        margin-left: -44px;
    }
    .change-buy-apartament-mobile{
        background-image: linear-gradient(#0f5281, #3e9fd2);
        padding-top: 110px;
        padding-bottom: 100px;
    }
    .change-buy-apartament-mobile .change-buy-apartament {
        padding: 60px 100px 40px 50px;
        width: 539px;
        position: relative;
        margin-left: 115px;
        margin-bottom: 40px;
    }
    .change-buy-apartament-mobile .change-buy-apartament .text-24{
        font-size: 18px;
    }
    .change-buy-apartament-mobile .change-buy-apartament .change-buy-apartament .btn-red{
        left: 20%;
    }
    .change-buy-apartament-mobile .change-buy-apartament .img-gk-briz-bilbord-leg-2{
        position: absolute;
        z-index: 10;
        height: 141px;
        bottom: -145px;
        right: 196px;
    }
    .change-buy-apartament-mobile .change-buy-apartament .change-buy-apartament h2 {
        margin-bottom: 35px;
    }
    .change-buy-apartament-mobile .change-buy-apartament .btn-red {
        font-weight: 500;
    }
    .change-buy-apartament-mobile .change-buy-apartament .img-gk-briz-bilbord-leg {
        position: absolute;
        z-index: 10;
        bottom: -145px;
        right: -120px;
    }
    .ipoteka-programm-mobile{
        width: 568px;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    .ipoteka-programm-mobile img{
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .ipoteka-programm-mobile h2{
        font-size: 30px;
        line-height: 34px;
        font-weight: 600;
    }
    .ipoteka-programm-mobile p{
        font-size: 18px;
        line-height: 24px;
        margin-top: 20px;
        margin-bottom: 37px;
    }
    .ipoteka-programm-mobile a{
        font-size: 16px;
        color:white;
        text-transform: uppercase;
        width: 252px;
        height: 53px;
        text-align: center;
        border-radius: 5px;
        font-weight: 500;
        line-height: 55px;
    }
    .block-cooperation-with-us-mobile{
        background-image: linear-gradient(#0f5281, #3e9fd2);
        padding-top: 110px;
        padding-bottom: 40px;
    }
    .block-cooperation-with-us-mobile .block-cooperation-with-us{
        margin-left: 200px;
    }
    .block-cooperation-with-us-mobile .block-cooperation-with-us{
        height: 628px;
        width: 382;
        padding: 365px 40px 40px 45px;
    }
    .block-cooperation-with-us-mobile .block-cooperation-with-us .ipoteka-programm-kaska{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 35px;
        left: 80px;
        height: 278px;
        width: 292px;
    }
    .change-buy-apartament .btn-red{
        width: 195px;
    }
    .block-cooperation-with-us-mobile .block-cooperation-with-us .img-gk-briz-bilbord-leg-2{
        left: 120px;
    }
    .block-cooperation-with-us-mobile .btn-red{
        font-weight: 500;
    }
    .header-mobile-desc .block-btn-click button.form-call-class-taxi{
        display: none;
    }

    /* footer */
    .block-footer{
        height: 100%;
        width: 100%;
        background-color: white;
        margin-left: 0px;
        overflow: auto;
    }
    .footer-block-content{
        margin: 0px 25px;
        margin-top: 100px;
        /* margin-left: 0px; */
    }
    .block-top-footer .block-left-foot{
        width: 643px;
    }
    .another-page-footer .block-top-footer .block-left-foot{
        width: 700px;
    }
    .form-group-2{
        width: 49%;
    }
    .form-group-2 .form-control-phoneCall, .form-group-3 .form-control-phoneCall{
        margin-top: 0px;
    }
    .form-group-3{
        width: 46%;
    }
    .footer-block-content.another-page-footer .btn-red{
        margin-top: 15px;
        margin-top: 15px;
        width: 189px;
        height: 43px;
        line-height: 49px;
    }
    .footer-block-content.another-page-footer .form-control-phoneCall {
        font-size: 18px;
        padding-bottom: 19px;
        margin-bottom: 24px;
    }
    .another-page-footer .block-left-foot h1 {
        margin-bottom: 36px;
    }
    .footer-block-content .form-control-phoneCall{
        font-size: 18px;
    }
    .form-group-2{
        margin-right: 28px;
    }
    .block-right-foot{
        margin-top: 50px;
    }
    .block-right-foot .block-right-foot-title > *{
        display: inline-block;
    }
    .block-right-foot .block-right-foot-title h3{
        margin-right: 100px;
    }
    .block-right-foot .block-right-foot-address{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .block-top-footer .block-right-foot{
        width: 100%;
        float: none;
    }
    .block-footer-content-all-bottom{
        position: relative;
        display: block;
    }
    .block-bottom-footer{
        display: flex;
        flex-direction: column;
    }
    .block-bottom-footer-text > div{
       display: block;
    }
    .block-bottom-footer-text, .block-bottom-footer-social {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 20px;
        justify-content: space-between;
    }
    .block-bottom-footer-social{
        margin-bottom: 20px;
    }
    .block-bottom-footer .block-stud-foot{
        width: 260px;
    }
    /* footer end */

     /* clients-Mortdade */
     .block-text-header-clients-mortgage{
         margin-top: 30px;
     }
     .block-text-header-clients-mortgage p{
        width: 95%;
        font-size: 24px;
        line-height: 30px;
        margin-top: 0px;
    }
    .block-text-header-clients-mortgage h2{
        margin-bottom: 24px;
    }
    .block-titmin-clients-mortgage .block-titmin-clients-mortgage-item p{
        font-size: 23px;
        line-height: 29px;
        width: auto;
    }
    .block-docs-clients-mortgag-item{
        margin-bottom: 50px;
        margin-right: 30px;
    }
    .block-docs-clients-mortgag h2 {
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .block-docs-clients-mortgag-item p span{
        font-size: 24px;
        margin-bottom: 15px;
    }
    .block-docs-clients-mortgag-item p{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0px;
    }
    .block-docs-clients-mortgag-item img {
        width: 54px;
        height: 77px;
        float: left;
        margin-bottom: 0px;
        margin-right: 25px;
    }
    .block-you-our-clients-mortgag ul li{
        font-size: 18px;
        line-height: 28px;
    }
    .block-you-our-clients-mortgag .left-block{
        float:none;
        width: 95%;
        margin-bottom: 45px;
    }
    .block-you-our-clients-mortgag .rigth-block{
        float: none;
        width: 95%;
    }
    .block-you-our-clients-mortgag ul li{
        margin-bottom: 5px;
    }
    .block-you-our-clients-mortgag {
        margin-top: 20px;
    }
    .block-mortgag-clients-mortgag .block-for-form-backgr{
        background: #f9f9f9;
        border-radius: 5px;
        padding-bottom: 40px;
        width: 330px;
    }
    .block-mortgag-clients-mortgag .left-block .block-form {
        /* background-color: #b5b5b5; */
        padding: 30px 25px 0px 25px;
    }
    .block-mortgag-clients-mortgag .left-block .sum-credit{
        margin-left: 20px;
    }
    .block-form .block-horizontal input{
        background: #f9f9f9;
    }
    .block-mortgag-clients-mortgag .left-block .btn-red {
        width: 200px;
        margin-left: 25px;
        height: 50px;
        line-height: 54px;
        font-size: 15px;
    }
    /* clients-Mortdade end */



    .apart-btn-close{
        display: block;
    }
    .block-img-gk-briz-slider-title #parallelogram{
        position: absolute;
    width: 128px;
    top: 90px;
    z-index: 15;
    right: 54px;
    height: 270px;
    transform: rotate(-10deg);
    /* background: red; */
    border: 3px solid #ff0e0e;
    }
    .block-img-gk-briz-slider-title #parallelogram2{
        display: none;
    }
    .footer-block-content .block-right-foot p{
        width: 30%;
    }
    .block-mortgag-clients-mortgag .left-block{
        width: 330px;
    }
    .block-mortgag-clients-mortgag .rigth-block{
        width: 350px;
    }
    .block-banks-item{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 235px;
    }
    .block-title-banks-img-main{
        margin-bottom: 30px;
    }
    .block-rate-banks-main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .block-banks-item-border{
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
     /* main end */
     .footer-block-another-page{
         display: none;
     }
     .footer-block-page-top .footer-block-page-top-menu{
         display: none;
     }
     .footer-block-another-page-for-mobile{
         display: block;
         margin-top: 54px;
     }
     .footer-block-another-page-for-mobile .block-first-foot{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #cacaca;
        padding-bottom: 30px;
        margin-bottom: 30px;
     }
     .footer-block-another-page-for-mobile .block-first-foot .block-address-one{

     }
     .footer-block-another-page-for-mobile .block-first-foot > div p{
         font-size: 15px;
         line-height: 20px;
     }
     .footer-block-another-page-for-mobile .block-first-foot .block-address-one h4{
         font-size: 24px;
         line-height: 24px;
         font-weight: 600;
         margin-bottom: 17px;
     }
     .footer-block-another-page-for-mobile .block-first-foot .block-address-two a{
        color: #ff0e0e;
        font-size: 15px;
        line-height: 30px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 10px;
        display: block;
     }
     .footer-block-another-page-for-mobile .block-first-foot .block-address-three{
        display: flex;
        align-items: flex-end;
     }
     .footer-block-another-page-for-mobile .block-second-foot{
        border-bottom: 1px solid #cacaca;
        padding-bottom: 30px;
        margin-bottom: 30px;
     }
     .footer-block-another-page-for-mobile .block-second-foot .block-desc-foot-one{
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        line-height: 20px; 
     }
     .footer-block-another-page-for-mobile .block-second-foot .block-desc-foot-two{
        display: flex;
        justify-content: start;
        margin-top: 21px;
     }
     .social-block-for-mobile{
        display: flex;
        justify-content: space-between;
        margin-left: 35px;
     }
     .footer-block-another-page-for-mobile .block-second-foot .block-desc-foot-two .block-disayn-studie-yarow{
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
     }
     .footer-block-another-page-for-mobile .block-second-foot .block-desc-foot-two .block-disayn-studie-yarow img{
        height: 55px;
     }
     .footer-block-another-page-for-mobile .block-second-foot .block-desc-foot-two .block-disayn-studie-yarow a{
         font-size: 15px;
         line-height: 20px;
         color:black;
         margin-left: 16px;
     }
     .footer-block-another-page-for-mobile .block-second-foot .block-desc-foot-two .social-block-for-mobile a{
        margin-left: 10px;
        width: 43px;
        height: 43px;
        display: block;
     }
     .footer-block-another-page-for-mobile .block-second-foot .block-desc-foot-two .social-block-for-mobile a img{
        width: 43px;
        height: 43px;
     }
    .footer-block-another-page-for-mobile .text-content-desc-foot{
        margin-bottom: 30px;
    }

    /* commerce.html */
    .block-commmerce-item {
        height: 300px;
        position: relative;
        margin-bottom: 30px;
        padding-left: 25px;
    }
    .block-commmerce h1{
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .block-commmerce-item h2 {
        /* margin-top: 45px; */
        margin-bottom: 20px;
    }
    .block-commmerce-item p {
        font-size: 24px;
        line-height: 30px;
        width: 270px;
    }
    .block-commmerce-item .address-commmerce {
        margin-top: 30px;
        font-size: 18px;
    }
    
    .block-commmerce-item .block-commmerce-setting p {
        /* display: inline-block;
        font-weight: 600;
        margin-right: 40px; */
        width: 120px;
        margin-right: 10px;
    }
    .block-commmerce-item .block-commmerce-setting p:last-child {
        /* margin-right: 0px;
        font-size: 24px;
        line-height: 34px;
        font-weight: 500; */
        font-size: 18px;
        width: 115px;
    }
    .block-commmerce-item .address-commmerce:before {
        position: absolute;
        content: '';
        top: 5px;
        left: 0px;
        height: 21px;
        width: 15px;
        background: url(../images/icons/map-icon.png)no-repeat center;
    }
    .block-commmerce-item .block-commmerce-setting {
        margin-top: 25px;
    }
    .block-commmerce-item img {
        position: absolute;
        right: 0px;
        bottom: 0px;
        top: 50%;
        transform: translate(0%, -50%);
        max-height: 300px;
        max-width: 280px;
    }
    /* commerce.html end */


    /* layouts-list.html */
    .block-layouts-header .block-header-title{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .block-list-main {
        min-height: 1000px;
        margin-top: 0px;
        text-align: center;
    }
    .block-list-main .block-left {
        float: none;
        /* margin: 0 auto; */
        display: inline-block;
        text-align: left;
    }
    .block-list-main .block-right {
        float: none;
        width: 100%;
        margin-top: 50px;
    }
    .block-sort-list {
        width: 730px;
        height: 530px;
        background-color: white;
        position: relative;
        border-radius: 5px;
        /* padding: 45px 45px 45px 45px; */
    }
    .sort-by-change {
        padding-left: 10px;
        padding-right: 30px;
        margin-top: 45px;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .sort-by-change .checked-change.group-input-check {
        margin-left: 0px;
        margin-top: 30px;
        border: none;
        float: left;
        position: absolute;
        left: -372px;
    }
    .sort-by-change .clear-sort{
        display:none;
    }
    /* layouts-list.html end */

    /* contact.html */
    .block-contact-page-desc{
        flex-wrap: wrap;
    }
    .block-contact-page-desc .block-contact-page-desc-div{
        width: 300px;
        margin-bottom: 37px;
    }
    .block-social-for-contacts-div .block-social-for-contacts-soc{
        width: 320px;
        overflow: hidden;
        height: 125px;
    }
    .block-contact-page .block-contact-page-title{
        margin-top: 65px;
        margin-top: 65px;
        margin-bottom: 12px;
    }
    .block-contact-page-desc .block-contact-page-desc-div h4{
        font-size: 24px;
        font-weight: 600;
    }
    .block-contact-page-desc .block-contact-page-desc-div p{
        font-size: 18px;
        line-height: 24px;
    }
    .block-contact-page-desc .block-contact-page-desc-div a{
        font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: #ff0e0e;
    text-transform: uppercase;
    margin-top: 19px;
    display: block;
    }
    
    /* contact.html end */

    /* map */
    .block-map{
        height: 970px;
        margin-top: 0px;
    }
    .block-social-for-contacts {
        margin-top: 43px;
    }
    .block-social-for-contacts-title {
        margin-bottom: 40px;
    }
    .block-social-for-contacts-div .block-social-for-contacts-soc{
        font-size: 24px;
    }
    .block-social-for-contacts-div{
        justify-content: space-between;
    }

    /* map end */
    .popup{
        width: 455px;
        height: 650px;
        font-size: 15px;
    }


    .block-layouts-header{
        position: relative;
    }
    .block-list-main table tbody tr td.block-schema-apart-lock:before{
        left: 10px;
    }
    .block-layouts-header .block-schema-or-list{
        position: absolute;
        top: 71px;
        right: 0px;
        float:none;
    }
    .myCheckbox span{
        width: 45px;
        height: 45px;
        line-height: 49px;
        font-size: 16px;
    }
    .block-model-scheme a{
        margin-top: -40px;
    }
    .block-scheme-main .slick-slide{
        height: 120%;
    }
}