@media (max-width: 1910px) {
    .wrapper-1{
        /* width: 1366px; */
        width: 1277px;
        margin: 0 auto;
    }
    .wrapper-2{
        width: 1277px;
        margin: 0 auto;
    }
    h1{
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    }
    h2{
    font-size: 35px;
    font-weight: 600;
    line-height: 44px;
    }
    h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
    }
    .text-24{
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    }
    .text-18{
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    }
    .text-UI15{
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    }
    /* Block for menu */
    .header-menu{
        height: 68px;
    }
    .header-menu .logo-baza{
        width: 84px;
        position: absolute;
    }
    .header-menu .header-menu-nav .href-menu{
        margin-left: 120px;
    }
    .header-menu .header-menu-nav .href-menu li a {
        font-size: 14px;
    }
    .header-menu .header-menu-nav .href-menu li a.active-menu, .header-menu .header-menu-nav .href-menu li a:hover{
        padding-bottom: 15px;
    }
    .header-menu .header-menu-nav .href-phone-form li a{
        font-size: 18px;
    }
    .header-menu .header-menu-nav .href-phone-form li{
        margin-left: 20px;
    }
    .header-menu .header-menu-nav .href-phone-form li button{
        width: 175px;
        height: 37px;
        font-size: 14px;
        line-height: 35px;
        margin-left: 0px;
    }
    /* Block for menu--End */


    /* client-Partners */
    .our-partners-bank-block .our-partners-bank-item:nth-child(3n){
        margin-right: 0px;
     }
     .our-partners-bank-block .our-partners-bank-item:nth-child(4n){
        margin-right: 34px;
     }
     /* client-Partners-end */

    /* page-gk */
    .main-block-page-gk{
        overflow: hidden;
    }
    .main-block-page-gk .figura-1{
        left: 143px;
    }
    .main-block-page-gk .figura-1:hover{
       opacity: 0;
    }
    /* .main-block-page-gk .figura-cercl-1 {
        top: 600px;
        left: 380px;
    } */
    .main-block-page-gk .block-modal-gk-1{
        left: 223px;
    }
    .main-block-page-gk .figura-2{
        left: 608px;
    }
    .main-block-page-gk .block-modal-gk.block-modal-gk-2{
        left: 572px;
    }
    .main-block-page-gk .figura-cercl-2 {
        right: 560px;
    }
    .main-block-page-gk .figura-3{
        left: 740px;
    }
    .main-block-page-gk .block-modal-gk.block-modal-gk-3{
        left: 739px;
    }
    .main-block-page-gk .figura-cercl-3 {
        right: 340px;
    }
    .main-block-page-gk .figura-cercl-4 {
        right: 50px;
    }
    .main-block-page-gk .figura-4{
        right: -109px;
    }
    .main-block-page-gk .block-modal-gk.block-modal-gk-4{
        left: 918px;
    }
     /* page-gk-end */

     /* main */
     .block-content{
         /* display: none; */
     }
     .header-menu .header-menu-nav .href-menu li{
         margin-right: 20px;
     }
     .header-menu.position-fixed-for-main{
        height: 95px;
     }
     .header-menu.position-fixed-for-main .header-menu-nav .href-phone-form li{
        margin-left: 0px;
    }
    .header-menu.position-fixed-for-main .header-menu-nav .href-phone-form li button{
        font-size: 14px;
    }
    .header-menu.position-fixed-for-main .header-menu-nav .href-menu li a:hover{
        padding-bottom: 15px;
    }
    .title-block{
        padding-bottom: 20px;
    }
    .title-block .block-title-text {
        margin-bottom: 20px;
    }
    .btn-red{
        font-size: 16px;
        line-height: 44px;
        height: 40px;
    }
    .form-call-class{
        height: 44px;
        font-size: 16px;
        line-height: 44px;
    }
    .block-gk-img-1 .block-gk-img-main{
        height: 500px;
    }
    .GenplanOneMain-image:hover .GenplanOneMain-image-svg {
        opacity: 0;
    }
    .img-fence-1{
        left: 0px;
        height: 80px;
    }
    .img-tree-2{
        width: 160px;
    }
    .img-tree-3{
        right: 70px;
        /* width: 186px; */
        height: 100px;
    }
    .img-quadcopter{
        left: 600px;
    }
    .board-gk-slider{
        margin-bottom: 25px;
    }
    .block-sort-change-apartaments{
        margin-bottom: 10px;
    }
    .block-sort-change-apartaments-title {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .block-href-a {
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .block-horizontal {
        margin-top: 20px;
    }
    .img-tree-10{
        right: 0px;
        width: 219px;
    }
    .change-buy-apartament{
        margin-bottom: 30px;
    }
    .change-buy-apartament {
        padding: 0px 30px 0px 50px;
        height: 525px;
    margin-bottom: 0px;
        /* margin-bottom: 5px; */
    }
    .img-tree-11{
        width: 245px;
    }
    .ipoteka-programm {
        width: 1200px;
        border: 5px solid #9d9d9d;
        background: #fff;
        margin-bottom: 25px;
        position: relative;
        border-radius: 10px;
        z-index: 40;
        height: 492px;
    }
    .ipoteka-programm-block-img img {
        max-width: 448px;
    }
    .ipoteka-programm-img-bilbord {
        bottom: -314px;
    }
    .block-cooperation-with-us {
        padding: 245px 45px 40px 45px;
    margin-bottom: 0px;
    }
    .block-cooperation-with-us img{
        width: 247px;
    }
    .footer-block-content {
        margin-top: 130px;
        margin-left: 150px;
    }
    .block-left-foot h1 {
        margin-bottom: 15px;
    }
    .another-page-footer .block-left-foot h1{
        margin-bottom: 75px;
    }
    .footer-block-content .form-control-phoneCall {
        padding-bottom: 5px;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 25px;
    }
    .another-page-footer.footer-block-content .form-control-phoneCall{
        padding-bottom: 25px;
        margin-bottom: 40px;
    }
    .footer-block-content .form-control-phoneCall
    .block-top-footer .block-left-foot {
        width: 760px;
    }
    .block-top-footer .block-right-foot {
        margin-right: 50px;
        margin-top: 50;
    }
    .text-content-desc-foot {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .text-content-desc-foot p {
        font-size: 14px;
        line-height: 20px;
    }
    .block-bottom-footer > div {
        font-size: 15px;
        line-height: 24px;
    }
    .block-taxi-and-message {
        right: 20px;
        bottom: 20px;
    }
     /* main end */

     /* clients-Mortdade */
     .block-text-header-clients-mortgage p{
         width: 95%;
         /* font-size: 18px;
         line-height: 24px;
         margin-top: 0px; */
     }
     .block-text-header-clients-mortgage h2{
         /* margin-bottom: 24px; */
     }
     .block-titmin-clients-mortgage .block-titmin-clients-mortgage-item{
         width: 50%;
     }
     .block-you-our-clients-mortgag .rigth-block{
         width: 50%;
     }
     .block-mortgag-clients-mortgag .left-block{
         width: 400px;
     }
     .block-mortgag-clients-mortgag .left-block .btn-red {
        width: 250px;
    }
    .block-mortgag-clients-mortgag .rigth-block{
        width: 800px;
    }
    .block-banks-item{
        width: 100%;
    }
    .block-banks-item .block-title-banks{
        margin-left: 40px;
    float: left;
    text-align: left;
    }
    .block-banks-item p{
        font-size: 20px;
    }
    .block-banks-item p span{
        font-size: 15px;
    }
    .block-banks-item-border{
        margin-left: 75px;
    }

     /* clients-Mortdade end */
     .footer-block-page-bottom{
        margin-bottom: 40px;
     }
    .footer-block-another-page .text-content-desc-foot{
         margin-top: 0px;
         margin-bottom: 30px;
     }


     /* layouts-list.html */
     .block-list-main .block-right {
        float: right;
        width: 65%;
    }
    .block-list-main table tbody tr td.block-schema-apart-lock:before {
        left: 20px;
    }
     /* layouts-list.html end */

    /* layouts-shema.html */
    .block-scheme-main .slick-arrow.slick-next {
        right: -75px;
    }    
    .block-scheme-main .slick-arrow.slick-prev{
        left: -75px;
    }
    .block-scheme-main-slider.slick-initialized.slick-slider{
        width: 90%;
        margin: 0 auto;
    }
    /* layouts-list.html end */



    /* contact.html */
    /* .block-social-for-contacts-div .block-social-for-contacts-soc:nth-child(2n){
        float: right;
    } */
    .block-social-for-contacts-div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .block-social-for-contacts-div .block-social-for-contacts-soc{
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
    .block-social-for-contacts-div .block-social-for-contacts-soc{
        width: 400px;
        overflow: hidden;
    }
    /* contact.html end */


    /* page-gk */
    .main-block-page-gk .main-block-page-gk-title{
        left: 270px;
    }
    .main-block-page-gk .main-block-page-gk-href{
        right: 250px;
    }
    .header-title-apart{
        margin-top: 225px;
    }
    .header-title-apart a{
        margin-top: -13px;
        line-height: 50px;
    }
    .apart-shema {
        margin-left: 30px;
        display: flex;
    }  
    .apart-shema .block-right{
        width: 65%;
    } 
    .apart-shema .block-right .block-shema-big {
        text-align: right;
        margin-right: 20px;
    }
    .apart-shema .block-right .block-shema-big img{
        max-width: 750px;
    }
    .block-sort-apartament {
        padding-bottom: 50px;
    }
    .block-have-pluse .block-container-for-min-pluse{
        width: 615px;
        height: 615px;
    }
    .block-have-pluse .block-container-for-big-pluse{
        width: 1275px;
    }
    .block-container-for-pluse-modal .block-left-img img{
        max-width: 690px;
    }
    .block-gk-docs.block-gk-docs-2 .block-right .change-buy-apartament{
        height: 590px;
    width: 512px;
    }
    .block-gk-docs {
        margin-top: 70px;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        /* margin-bottom: 100px; */
    }
    /* page-gk end */


    /* compamy.html */
    .block-company-section{
        /* margin-top: 50px; */
    }
    
    .img-abs-man-1{
        left: 3%;
    }
    /* .block-board-left-deg .header-block-desc-message-main{
        right: 40px;
    } */
    .main-blocl-desc h1{
        margin-left: 170px;
    }
    .block-board-left-deg.block-board-right-deg .header-block-desc-message-main{
        right: 50%;
    }
    .img-balloon-3 {
        left: 100px;
    }
    .our-partners-block-slider .wrapper-2{
        width: 1130px;
    }
    .our-partners.slider-partners .slick-next.slick-arrow {
        right: -80px;
    }

    /* compamy.html end*/



    /* apartament */
    .block-main-apartament-schema-img{
        margin-left: 30px;
    }
    .block-main-apartament-schema-form {
        margin-right: 0px;
    }
    .header-menu.apartament-for-header-menu .header-menu-nav .href-phone-form li button {
        line-height: 35px;
    }
    .single-item .slick-prev.slick-arrow{
        left: 0px;
    }
    .another-apartament-slider .slick-prev.slick-arrow {
        right: 80px;
        top: -89px;
        left: 1150px;
    }
    /* apartament end */
    .block-right-mortgage-calculation .block-horizontal{
        margin-bottom: 50px;
    }
    .block-mortgage-calculation .block-left-mortgage-calculation img{
        left: 220px;
    }
    .block-company-section-2 .img-abs-man-1{
        right: 0%;
    }
}
@media (max-width: 892px){
    /* .block-client-header ul li {
        font-size: 15px;
        margin-right: 65px;
    } */
}


