@media (max-width: 567px){
    
    .our-managers .block-our-managers{
        justify-content: center;
    }
}

@media (max-width: 425px){
    
    .block-our-life .block-title-our-life{
        flex-flow: column;
    }
    .block-our-life .block-title-our-life a{
        width: 100%;
        margin-top: 20px;
    }
    .block-social-for-contacts-div .block-social-for-contacts-soc{
        height: 100px;
        width: 100% !important;
        margin-bottom: 20px;
    }
    
}

@media (max-width: 537px){
    .block-client-header ul{
        /* float: left; */
    }
    .block-client-header ul li{
        margin-left: 20px;
    }
    .block-client-header ul li:last-child{
        display: none;
    }

}
@media (max-width: 767px){
    .wrapper-1{
        width: 100%;
        margin: 0 auto;
    }
    .wrapper-2{
        width: 95%;
        margin: 0 auto;
    }
    h1{
        font-size: 30px;
        font-weight: 600;
        line-height: 34px;
      }
      h2{
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
      }
      h3{
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
      }
      .text-24{
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
      }
      .text-18{
        font-size: 13px;
        line-height: 17px;
        font-weight: 500;
      }
      .text-UI15{
        font-size: 10px;
        line-height: 15px;
        font-weight: 500;
      }
    
    /* Block for menu */
    .header-menu{
        height: 62px;
    }
    .header-menu .header-menu-nav {
        margin-top: 18px;
    }
    .header-menu .logo-baza{
        width: 71px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    top: 1px;
    }
   .header-menu .header-menu-nav .href-menu{
        margin-left: 0px;
        display: none;
    }

    .header-menu .header-menu-nav .href-phone-form li .phone-class-icons{
        position: absolute;
        left: 3px;
    }
    .header-menu .header-menu-nav .href-phone-form li .form-menu-class{
        position: absolute;
        right: 10px;
    }
    .block-contact-page .block-contact-page-title{
        margin-top: 38px;
    }
    .block-contact-page-desc{
        margin-left: -10px;
        margin-right: -10px;
    }
    .block-contact-page-desc .block-contact-page-desc-div{
        margin-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .block-social-for-contacts-div{
        justify-content: space-between;
    }
    .block-contact-page-desc .block-contact-page-desc-div h4{
        margin-bottom: 0px;
    }
    .block-contact-page-desc .block-contact-page-desc-div p{
        font-size: 15px;
        line-height: 20px;
    }
    .block-contact-page-desc .block-contact-page-desc-div a{
        font-size: 12px;
        line-height: 24px;
        margin-top: 13px;
    }
    /* Block for menu--End */


    /* Client-header */
    .block-client-header{
        margin-top: 45px;
    }
    .block-client-header ul{
        height: 27px;
        margin-top: 30px;
        justify-content: space-between;
    }
    .block-client-header ul li{
        font-size: 12px;
        margin-right: 0px;
        /* float: left; */
        padding-bottom: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
    }
    /* .block-client-header ul .li-active{
        margin-right: 0px;
    } */
    .block-client-header ul li:nth-child(2n){
        float: right;
        text-align: right;
        margin-right: 0px;
    }
    
    .block-client-header ul .li-active{
        margin-right: 0px;
        font-size: 12px;
        border-bottom: 2px solid #ff0e0e;
        padding-bottom: 20px;
        margin-bottom: 0px;
    }
    /* Client-header-end */

    /* client-Partners */
    .our-partners-bank-block .our-partners-bank-item:nth-child(3n){
        margin-right: 0px;
     }
     .our-partners-bank-block .our-partners-bank-item:nth-child(2n){
        margin-right: 0px;
     }
     .our-partners-bank-block .our-partners-bank-item{
        margin-right: 0px;
     }
     .our-partners-main .our-partners-main-desc{
        margin-top: 20px;
        font-size: 18px;
        line-height: 24px;
        width: 90%;
        margin-bottom: 40px;
     }
     .client-footer-block .block-two-input .form-group:first-child{
         float: none;
         width: 100%;
     }
     .client-footer-block .block-two-input .form-group:last-child{
        float: none;
        width: 100%;
     }
     .client-footer-block .form-control-phoneCall{
         margin-left: 0px  !important;
     }
     .our-partners-main .our-partners-main-desc-yakor{
        display: block;
        width: 80%;
        margin-bottom: 40px;
    }
     /* client-Partners-end */

     /* client-Promotions-discounts */
     .promotions-and-discounts-item{
        height: 350px;
        width: 288px;
        border: none;
     }
     .promotions-and-discounts-item .promotions-and-discounts-img-rel{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        /* right: 30px; */
        /* top: 30px; */
        max-width: 200px;
        max-height: 170px;
        top: 0px;
        border: 1px solid #e1e1e1;
        padding: 11px 43px;
        border-radius: 5px;
        margin-left: 0px;
     }

    .promotions-and-discounts-item .promotions-and-discounts-text.promotions-and-discounts-text-href,
    .promotions-and-discounts-item .promotions-and-discounts-text{
        margin-left: 0;
        width: 310px;
        margin-top: 0;
        padding-top: 207px;
    }
    .promotions-and-discounts-item .promotions-and-discounts-text p{
        margin-top: 3px;
        font-size: 13px;
    }
    .promotions-and-discounts-main{
        margin-top: 38px;
    }
    .promotions-and-discounts-item .promotions-and-discounts-img-abs{
        width: 100%;
        top: 0px;
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        padding-top: 16px;
    }
    .promotions-and-discounts-item.promotions-and-discounts-item-2 .promotions-and-discounts-text.promotions-and-discounts-text-href{
        width: 100%;
    }
    .promotions-and-discounts-item .promotions-and-discounts-text.promotions-and-discounts-text-href .btn-red{
        margin-top: -20px;
        width: 141px;
        line-height: 40px;
        font-size: 14px;
        height: 35px;
    }

    
     /* client-Promotions-discounts-end*/

     /* 404 */
     .block-error{
        margin-top: 70px;
    }
    .block-num-404-text{
        font-size: 34px;
        line-height: 56px;
        font-weight: 600;
    }
    .block-num-404{
        font-size: 155px;
        font-weight: 600;
        /* line-height: 56px; */
        color:#ff0e0e;
    }
    .block-num-404-href{
        margin-left: 20px;
    }
    /* 404-end */



     /* <!-- Start-modal-form-for-menu --> */
     .logo-head {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 20px;
    }
    .block-menu-for-modal {
        float: none;
        width: 100%;
        /* margin-top: 22px; */
    }

    .block-menu-for-modal a:first-child {
        float: left;
        z-index: 10;
        position: relative;
    }
    .block-menu-for-modal a:last-child {
        float: right;
        z-index: 10;
        position: relative;
    }
    .modal-header-menu li {
        margin-top: 30px;
    }
    .modal-header-menu li:first-child {
        margin-top: 50px;
    }
    .modal-header-menu li a {
        font-size: 30px;
        margin-top: 30px;
    }
     /* <!-- End-modal-form-for-call --> */

     /* main */
     .header-mobile-menu{
         position: relative;
     }
     .header-mobile-menu .logo-baza{
         position: absolute;
         left: 50%;
         transform: translate(-50%);
     }
     .block-menu-mobile{
         display: none;
     }
     .img-cloud-mobile-1 {
        left: -270px;
        top: -240px;
    }
    .img-cloud-mobile-2 {
        position: absolute;
        opacity: 0.4;
        z-index: 100;
        top: 190px;
    }
    .header-mobile-desc h2{
        font-size: 30px;
        line-height: 36px;
    }
    .header-mobile-desc .block-btn-click a{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .header-mobile-desc .block-btn-click button.form-call-class{
        display: none;
    }
    .block-header-mobile{
        height: 830px;
    }
    .header-mobile-desc .block-btn-click button.form-call-class-taxi{
        display: block;
        width: 101%;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 10px;
    }
    .main-mobile-gk-block,.main-mobide-block .main-mobile-gk-block-2{
        height: 136px;
    }
    .block-see-change-apart{
        background-image:linear-gradient(#fff, #fff);
        padding-top: 20px;
        padding-bottom: 5px;
    }
    .block-see-change-apart .block-pick-up-apartment{
        display: none;
    }
    .block-see-change-apart .form-call-class-change-apart {
        display: block;
        color:#ff0e0e;
        border: 2px solid #ff0e0e;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .wrapper-2{
        width: 90%;
        margin: 0 auto;
    }
    .block-see-change-apart .block-pick-up-apartment {
        width: 100%;
        margin-left: 0px;
        padding: 25px 13px 60px 13px;
        margin-bottom: 0px;
    }
    .block-see-change-apart-btn {
        position: relative;
    }
    .block-pick-up-apartment h3 {
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 20px;
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 0px;
        line-height: 17px;
    }
    .apart-btn-close-modal {
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .block-change-apartment ul {
        margin-top: 30px;
    }
    .block-pick-up-apartment ul li {
        margin-right: 9px;
    }
    .block-pick-up-apartment ul li a {
        font-size: 12px;
    }
    .block-see-change-apart .block-pick-up-apartment .block-horizontal {
        margin-top: 35px;
        width: 100%;
    }
    .block-see-change-apart .block-pick-up-apartment .btn-red{
        width: 70%;
    }
    .block-change-apartment ul {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .block-pick-up-apartment ul li {
        /* margin-right: -1px; */
        margin-right: 0px;
        margin-left: 0px;
    }
    .block-horizontal-right > *{
        font-size: 15px;
    }
    .block-pick-up-apartment .block-see-change-apart-btn a{
        display: block;

    }

    .block-mobile-border-1 .slider-board-1 {
        background-color: #f6f6f7;
        margin-left: 0px;
    }
    .block-mobile-border-1 .slider-board-1 .slider-img {
        position: absolute;
        top: 0px;
        max-width: 290px;
        max-height: 220px;
        margin-left: 20px;
        margin-top: 0;
    }
    .block-mobile-border-1 .slider-board-1 .block-title-slider{
        margin-top: 260px;
        margin-left: 10px;
    }
    .block-mobile-border-1 .slider-board-1 .block-title-slider h2{
        margin-bottom: 40px;
        width: 90%;
    }
    .block-mobile-border-1 .img-gk-slider{
        margin-top: 30px;
        padding-top: 30px;
        height: 500px;
    }
    .block-mobile-border-1 .slider-board-1 .slick-dots{
        left: 15px;
        bottom: -45px;
    }
    .slider-item-2{
        margin-top: 0px;
    }
    .block-mobile-border-2 .block-img-gk-briz-slider-title{
        margin-left: 20px;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0px;
    }
    .block-mobile-border-2 .block-img-gk-briz-slider-img{
        float: none;
        margin: 0 auto;
        padding: 0px;
        height: 180px;
        width: 100px;
        margin-top: 20px;
        position: relative;
    }
    .block-mobile-border-2 .block-img-gk-briz-slider-img img {
        max-width: 91px;
        max-height: 171px;
        /* float: none; */
        position: absolute;
        bottom: 0px;
    }
    .block-mobile-border-2 .block-img-gk-briz-slider-title h2 {
        font-size: 30px;
        line-height: 34px;
        font-weight: 600;
        width: 280px;
        margin-top: 220px;
    }
    .block-mobile-border-2 .block-img-gk-briz-slider-title ul {
        font-size: 15px;
        margin-left: 25px;
    }
    .block-img-gk-briz-slider-title #parallelogram {
        width: 60px;
        top: 60px;
        left: 41px;
        height: 114px;
        display: block;
        position: absolute;
        width: 128px;
        top: 90px;
        z-index: 15;
        right: 54px;
        height: 270px;
        transform: rotate(-10deg);
        /* background: red; */
        border: 3px solid #ff0e0e;
    }
    .block-img-gk-briz-slider-title #parallelogram2 {
        position: absolute;
        display: block;
        width: 90px;
        /* bottom: 240px; */
        top: -35px;
        right: 13px;
        /* right: 85px; */
        right: -20px;
        height: 120px;
        transform: rotate(60deg);
        border: 3px solid #ff0e0e;
    }
    .block-mobile-border-2 .block-img-gk-briz-slider-title ul li{
        margin-left: 0px;
    }
    .block-mobile-border-2 .block-img-gk-briz-slider-title ul li:before{
        top: 4px;
    }
    .block-mobile-border-2 .slider-board-2-mobile .slick-dots{
        left: 25px;
    }

    .change-buy-apartament-mobile .change-buy-apartament {
        padding: 30px 20px 40px 20px;
        width: 90%;
        position: relative;
        margin: 0 auto;
    }
    .change-buy-apartament h2 {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 28px;
    }
    .change-buy-apartament-mobile .change-buy-apartament .text-24 {
        font-size: 15px;
        line-height: 18px;
    }
    .checked-change label {
        padding-left: 30px;
    }
    .checked-change label::before {
        width: 18px;
        height: 18px;
        margin-right: 10px;
        margin-left: -30px;
    }
    .change-buy-apartament .btn-red {
        margin-top: 23px;
        margin-left: 43px;
        width: 154px;
        height: 36px;
        font-size: 12px;
        line-height: 37px;
        font-weight: 600;
    }
    .change-buy-apartament-mobile{
        overflow: hidden;
    }
    .change-buy-apartament .btn-red{
        margin-left: none;
    }
    .change-buy-apartament .btn-red{
        margin-left: 50%;
    }
    .change-buy-apartament-mobile .change-buy-apartament{
        height: 520px;
        padding: 30px 20px 0px 20px;
    }
    .img-helicopter-mobile-2{
        left: 100px;
    }
    .ipoteka-programm-mobile img{
        max-height: 290px;
        max-width: 290px;
    }
    .ipoteka-programm-mobile h2{
        font-size: 24px;
        line-height: 56px;
    }
    .ipoteka-programm-mobile p {
        font-size: 15px;
    }
    .ipoteka-programm-mobile{
        width: 100%;
    }
    .ipoteka-programm-mobile a{
        width: 196px;
    }
    .block-cooperation-with-us-mobile{
        padding-top: 30px;
    padding-bottom: 70px;
    }
    .block-cooperation-with-us-mobile .block-cooperation-with-us{
        margin-left: 0px;
        width: 290px;
        height: 540px;
        padding: 0;
        margin: 0 auto;
        padding-left: 20px;
        padding-top:300px;
    }
    .block-cooperation-with-us-mobile .block-cooperation-with-us .ipoteka-programm-kaska{
        left: -12px;
    }
    .footer-block-content{
        margin-top: 60px;
    }
    .form-group-2{
        width: 100%;
        margin-right: 0px;
    }
    .form-group-3{
        width: 100%;
    }
    .footer-block-content .form-control-phoneCall{
        margin-bottom: 30px;
    }
    .block-right-foot .block-right-foot-title h3{
        margin-bottom: 25px;
    }
    .block-right-foot .block-right-foot-address{
        flex-direction: column;
        width: 65%;
    }
    .footer-block-content .block-right-foot p{
        margin-top: 10px;
    }
    .block-bottom-footer-text{

        flex-direction: column;
    }
    .block-bottom-footer-text > p{
        margin-bottom: 30px;
    }
    .block-bottom-footer-social{
        flex-direction: column;
    }
    .block-bottom-footer-social >div{
        padding-bottom: 25px;
    }
    .footer-block-content .block-right-foot p{
        width: 90%;
    }
     /* main end */

     /* clients-Mortdade */
     .block-titmin-clients-mortgage {
        margin-top: 50px;
    }
    .block-titmin-clients-mortgage .block-titmin-clients-mortgage-item {
        margin-bottom: 40px;
    }
     .block-text-header-clients-mortgage p{
        width: 95%;
        font-size: 18px;
        line-height: 24px;
        margin-top: 0px;
    }
    .block-text-header-clients-mortgage h2{
        margin-bottom: 24px;
    }
    .block-titmin-clients-mortgage .block-titmin-clients-mortgage-item {
        width: 100%;
    }
    .block-titmin-clients-mortgage .block-titmin-clients-mortgage-item p{
        font-size: 18px;
        line-height: 24px;
        margin-left: 50px;
        margin-top: 0px;
    }
    .block-titmin-clients-mortgage .block-titmin-clients-mortgage-item img{
        width: 30px;
        height: 30px;
    }
    .block-docs-clients-mortgag h2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .block-docs-clients-mortgag-item{
        width: 144px;
        margin-right: 0px;
    }
    .block-docs-clients-mortgag-item img {
        float: none;
        margin-bottom: 17px;
    }
    .block-you-our-clients-mortgag ul li{
        font-size: 15px;
        margin-bottom: 0px;
    }
    .block-you-our-clients-mortgag h3{
        margin-bottom: 25px;
    }
    .block-mortgag-clients-mortgag .left-block .opacity-banks{
        width: 310px;
    }
    .block-mortgag-clients-mortgag .block-for-form-backgr{
        width: 310px;
    }
    .block-mortgag-clients-mortgag .rigth-block{
        width: 310px;
        float: left;
    }
    .block-mortgag-clients-mortgag {
        margin-top: 40px;
    }    
    /* clients-Mortdade end */

    .another-page-footer .block-top-footer .block-left-foot {
        width: 90%;
    }
    .footer-block-content.another-page-footer .form-control-phoneCall{
        padding-bottom: 17px;
        margin-bottom: 20px;
    }
    .footer-block-content.another-page-footer .btn-red {
        margin-top: 25px;
    }

    .footer-block-another-page-for-mobile .block-first-foot{
        position: relative;
        margin-bottom: 12px;
        flex-direction: column;
    }
    .footer-block-another-page-for-mobile .block-first-foot .block-address-two a{
        position: absolute;
        bottom: -8px;
        font-size: 12px;
    }
    .footer-block-another-page-for-mobile .block-first-foot > div p{
        margin-bottom: 12px;
        line-height: 24px;
        font-size: 18px;
    }
    .footer-block-another-page-for-mobile .block-second-foot{
        padding-bottom: 24px;
        margin-bottom: 15px;
    }
    .footer-block-another-page-for-mobile .block-second-foot .block-desc-foot-one{
        flex-direction: column;
    }
    .footer-block-another-page-for-mobile .block-second-foot .block-desc-foot-one > div{
        margin-bottom: 25px;
    }
    .footer-block-another-page-for-mobile .block-second-foot .block-desc-foot-two{
        flex-direction: column-reverse;
        margin-top: -3px;
    }
    .footer-block-another-page-for-mobile .block-second-foot .block-desc-foot-two .block-disayn-studie-yarow{
        justify-content: flex-start;
        margin-top: 20px;
    }
    .footer-block-another-page-for-mobile .block-second-foot .block-desc-foot-two .social-block-for-mobile a:nth-child(n+4){
        display: none;
        width: 10px;
    }
    
    .text-content-desc-foot p{
        font-size: 12px;
    }
    .footer-block-another-page-for-mobile .block-second-foot .block-desc-foot-two .block-disayn-studie-yarow img{
        height: 45px
    }

     /* commerce.html */

     .block-commmerce .wrapper-2{
         width: 100%;
     }
     .block-commmerce-item{
         border:none;
         flex-flow: column-reverse;
         height: 460px;
         margin-bottom: 60px;
         justify-content: space-around;
     }
     .block-commmerce-item-text{
         width: 100%;
         margin-left: 0px;
         padding-left: 30px;
     }

     .block-commmerce-item p{
        width: 100%;
        margin-right: 0px;
        font-size: 18px;
        line-height: 24px;
     }
     .block-commmerce-item h2{
         margin-top: 25px;
     }
     .block-commmerce-item .address-commmerce{
         margin-top: 20px;
         width: 80%;
     }
     .block-commmerce h1{
        margin-top: 35px;
        margin-bottom: 35px;
        margin-left: 20px;
        
     }
     .block-commmerce-item .block-commmerce-item-img{
        width: 100%;
        height: 220px;
        padding: 0px;
        overflow: hidden;
        margin: 0px;
     }
     .block-commmerce-item .block-commmerce-item-img img{
        width: 100%;
        height: auto;
        display: block;
     }
     /* .block-commmerce-item{
         height: 500px;
     }
     .block-commmerce-item h2{
         margin-top: 200px;
     }
     .block-commmerce-item p{
         width: 260px;
     }
     .block-commmerce-item .block-commmerce-setting p{
         margin-bottom: 25px;
     }
     .block-commmerce-item img {
        right: 0px;
        bottom: 0px;
        top: 0%;
        left: 50%;
        border-radius: 5px;
        transform: translate(-50%, 0%);
        max-height: 220px;
        max-width: 285px;
    } */
    /* commerce.html end*/

    /* layouts-list.html */
    .block-sort-list {
        /* width: 320px; */
        width: 100%;
        height: 920px;
        background-color: white;
        position: relative;
        border-radius: 5px;
        /* padding: 45px 45px 45px 45px; */
    }    
    .block-sort-list ul {
        margin-left: 10px;
    }
    .block-sort-list ul li {
        display: inline-block;
        margin-right: 2px;
    }
    .sort-by-change{
        position: relative;
        padding-left: 20px;
    }
    .sort-by-change-for-layouts-list .block-horizontal-right {
        width: 155px;
    }
    .sort-by-change .checked-change.group-input-check{
        margin-left: 15px;
        display: none;
    }
    .sort-by-change .checked-change.group-input-check {
        margin-left: 0px;
        margin-top: 30px;
        border: none;
        float: left;
        position: relative;
        left: 0px;
    }
    .block-model-scheme-modal-map{
        width: 315px;
    }
    .class-adddres-1{
        transform: rotate(-90deg);
        position: absolute;
        top: 120px;
        left: -40px ;
    }
    .class-adddres-2{
        transform: rotate(0deg);
        position: absolute;
        left: 115px !important;
        top: 240px;
    }
    .class-adddres-3{
        transform: rotate(90deg);
        position: absolute;
        top: 110px;
        right: 0px !important;
    }
    .block-scheme-1.block-model-scheme-map-items{
        width: 215px;
    height: 120px;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    left: 60px !important;
    top: 80px;
    }
    .block-scheme-2.block-model-scheme-map-item{
        width: 81px;
        height: 44px;
        top: 152px;
        left: 100px;
        position: absolute
    }
    .block-scheme-3.block-model-scheme-map-item{
        width: 51px;
        height: 70px;
        border-radius: 5px;
        position: absolute;
        top: 80px;
        right: 40px !important;
    }
    .sort-by-change .checked-change.group-input-check{
        left:15px;
    }
    .table-list-layout-block{
        display: none;
    }
    .table-list-layout-block.table-list-layout-block-for-mobile{
        display: block;
    }
    .block-list-main table.table-list-layout-block.table-list-layout-block-for-mobile thead tr {
        position: relative;
    }
     .block-list-main table.table-list-layout-block.table-list-layout-block-for-mobile thead tr th{
        padding-top: 10px;
        padding-right: 25px;
        padding-left: 12px;
    }
    .block-list-main table.table-list-layout-block.table-list-layout-block-for-mobile tbody tr td{
        font-size: 18px;
    }
    .block-list-main .block-right{
        float: none;
        width: 320px;
        display: inline-block;
    }
    .block-come-back .come-back{
        border: none;
        font-size: 0px;
    }
    .block-come-back .come-back:after{
        /* background-size: contain; */
        background: url(../images/icons/strelka-2.png)no-repeat center;
        width: 20px;
        height: 35px;
        -moz-transform: rotate(0deg); /* Для Firefox */
        -ms-transform: rotate(0deg); /* Для IE */
        -webkit-transform: rotate(0deg); /* Для Safari, Chrome, iOS */
        -o-transform: rotate(0deg); /* Для Opera */
        transform: rotate(0deg);
    }
    .block-layouts-header .block-header-title{
        margin-left: 15px;
        margin-top: 20px;
    }
    .block-layouts-header .block-schema-or-list {
        float: none;
        top: -10px;
        /* margin: 0 auto; */
        /* margin-left: 50%; */
        transform: translate(-50%);
        width: 100%;
        position: relative;
        left: 50%;
        max-width: 100%;
    }
    .block-layouts-header .block-schema-or-list a{
        display: inline-block;
        width: 49%;
    }
    .block-layouts-header .block-schema-or-list a:last-child{
        margin-left: 0px;
    }
    .block-layouts-header{
        padding-top: 15px;
    }
    .block-model-scheme a{
        width: 100%;
    }
    .block-model-scheme {
        /* position: relative; */
        margin-top: 70px;
    }
    .block-model-scheme-modal{
        width: 320px;
        top:24px; 
    }
    .block-schema-apart{
        margin-bottom: 13px;
    }
    .block-scheme-main-slider.slick-initialized.slick-slider{
        /* height: 1990px; */
        width: 90%;
    }
    /* .block-layouts-scheme .block-scheme-main{
        height: 2400px;
    } */
    .block-scheme-main-example{
        display: none;
    }
    .block-scheme-main .slick-arrow.slick-prev{
        left: 0px;
        top: auto;
        bottom: -65px;
    }
    .block-scheme-main .slick-arrow.slick-next {
        top: auto;
        bottom: -65px;
        left: 70px;
    }
    .block-model-scheme-modal.block-model-scheme-modal-act{
        width: 100%;
        position: absolute;
        left: 50%;
        top: -50px;
        transform: translate(-50%, 0%);
        height: 344px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column;
    }

    .block-model-scheme a:after{
        /* background: url(../images/icons/btn-close.png) no-repeat center; */
        /* top: 50%; */
        top: 19px;
        right: 28px;
    }
    .block-model-scheme-modal.block-model-scheme-modal-act a.close-modal-schema:after{
        top: 36px;
    }
    
    .block-model-scheme-modal .close-modal-schema{
        border: none;
        background: white;
        padding-top: 20px;
        margin-top: 0px;
    }
    .block-model-scheme-modal-map {
        width: 302px;
    }

    .block-model-scheme .wrapper-2{
        width: 100%;
    }
    /* .block-list-main table.table-list-layout-block.table-list-layout-block-for-mobile tbody tr td:last-child{
        position: absolute;
        font-size: 13px;
        color:#bfbfbf;
        width: 100%;
        left: 0px;
    } */
    /* layouts-list.html end*/

    /* contact.html */
    .block-social-for-contacts-title{
        margin-top: 60px;
    }
    /* contact.html end*/

    /* map */
    .block-map{
        height: 623px;
        overflow: hidden;
        margin-top: 20px;
    }
    .form-for-map-abs{
        display:none;
    }

    /* map end */
    .block-social-for-contacts {
        margin-top: 52px;
    }
    .block-social-for-contacts-title{
        margin-top: 0px;
    }
    .block-social-for-contacts-div .block-social-for-contacts-soc{
        height: 100px;
        /* width: calc(50% - 10px); */
        margin-bottom: 20px;
    }

    /* footer */
    .another-page-footer .block-left-foot h1{
        margin-bottom: 19px;
    }
    .footer-block-content.another-page-footer .form-control-phoneCall{
        font-size: 14px;
        padding-bottom: 8px;
    }
    .footer-block-content.another-page-footer .btn-red {
        margin-top: 14px;
        width: 100%;
        height: 35px;
        line-height: 41px;
    }
    .footer-block-another-page-for-mobile{
        margin-top: 51px;
    }
    .social-block-for-mobile{
        margin-left: 0px;
        justify-content: start
    }
    .footer-block-another-page-for-mobile .block-second-foot .block-desc-foot-two .social-block-for-mobile a{
        margin-left: 0px;
        margin-right: 15px;
    }
    /* footer end */

    /* model form for call */
    .overlay{
        height: 100%;
    }
    .popup{
        width: 310px;
        height: 440px;
    }
    .modal-call-form-title h2 {
        font-size: 24px;
        line-height: 24px;
        font-weight: 600;
        margin-top: 0px;
    }

    .modal-call-form-title p {
        font-size: 14px;
        line-height: 19px;
        font-weight: 500;
        margin-top: 15px;
    }
    .modal-body {
        margin-top: 20px;
    }
    .modal-body .form-control-phoneCall {
        display: block;
        border: none;
        border-bottom: 1px solid #e4e4e4;
        width: 100%;
        color: #b5b5b5;
        font-size: 14px;
        line-height: 24px;
        margin-top: 24px;
        padding-bottom: 7px;
    }
    .modal-body-btn .btn-form-modal {
        width: 100%;
        height: 40px;
        border: none;
        background-color: #ff0e0e;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        transition-timing-function: ease-out;
        transition: .3s;
        font-size: 14px;
        margin-top: 25px;
        border-radius: 5px;
        cursor: pointer;
    }
    .modal-body-footer {
        text-align: left;
        margin-top: 25px;
    }
    .modal-body-footer p {
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        color: #bababa;
    }
    .close-popup {
        top: 20px;
        right: 20px;
    }
    .block-scheme-main .slick-slide{
        /* height: 117%; */
    }
    .block-scheme-main{
        padding-bottom: 130px;
        padding-top: 50px;
    }
    .block-scheme-main .wrapper-2{
        width: 100%;
    }
    


    /* page-gk */
    .main-block-page-gk{
        /* width: 320px;
        height: 568px; */
    }
    .page-gk-mob-img {
        display: block;
        position: relative;
        /* left: -330px; */
        left: -156px;
        /* max-height: 695px; */
        width: 546px;
        height: 568px;
    }
    .main-block-page-gk .href-figura-1 {
        width: 98px;
        height: 395px;
        bottom: 135px;
        left: 0px;
    }
    .main-block-page-gk .href-figura-2 {
        width: 63px;
        height: 223px;
        bottom: 243px;
        left: 110px;
    }
    .main-block-page-gk .href-figura-3 {
        width: 63px;
        height: 368px;
        bottom: 106px;
        left: 174px;
    }
    .main-block-page-gk .href-figura-4 {
        width: 63px;
        height: 316px;
        bottom: 205px;
        /* left: 1090px; */
        right: 0px;
    }
    .block-modal-gk{
        width: 299px;
    }
    .block-modal-gk-mob-left, .block-modal-gk-mob-right {
        top: 0px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .main-block-page-gk .main-block-page-gk-href {
        right: 50%;
        top: 89%;
        /* bottom: 10px; */
        width: 95%;
        font-size: 15px;
        transform: translate(50%);
    }
    .main-block-page-gk .main-block-page-gk-href p{
        font-size: 12px;
    }
    .main-block-page-gk .main-block-page-gk-href p:before{
        left: 20%;
    }
    .main-block-page-gk .main-block-page-gk-title {
        /* display: none; */
        width: 300px;
        left: 10px;
        bottom: 63px;
    }
    .main-block-page-gk-container {
        /* height: 568px;
        width: 320px; */
    }
    .header-title-apart {
        margin-left: 10px;
        flex-flow: column;
        margin-top: 20px;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .header-title-apart p{
        border-right: none;
        margin-bottom: 35px;
    }
    .block-for-mob-320-sort{
        display:none;
    }

    .block-have-pluse{
        display: block;
        width: 100%;
        margin-top: 40px;
    }
    .block-have-pluse .wrapper-2{
        width: 100%;
        margin: 0 auto;
    }
    .block-have-pluse .block-container-for-pluse{
        width: 310px;
        height: 215px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .block-have-pluse .block-pluce{
        width: 310px;
        height: 215px;
    }
    /* .block-have-pluse .block-pluce img{
        width: 310px;
        height: 215px;
    } */
    .block-have-pluse .block-container-for-min-pluse h2,
    .block-have-pluse .block-container-for-big-pluse h2{
        width: 276px;
        bottom: 15px;
        left: 10px;
    }

    .apart-shema .block-left{
        padding: 0px;
        padding-top: 30px;
        padding-bottom: 40px;
    
    }
    .btn-block-for-mob-320-sort{
        display: block;
        position: relative;
        border:2px solid #ff0e0e;
        color:#ff0e0e;
        text-align: center;
        height: 43px;
        border-radius: 5px;
        width: 90%;
        left: 50%;
        transform: translate(-50%);
    }
    .btn-block-for-mob-320-sort p{
        font-size: 12px;
        line-height: 42px;
        font-weight: 600;
        position: relative;
        text-transform: uppercase;
        
    }
    .btn-block-for-mob-320-sort p:before{
        position: absolute;
        content:"";
        width: 17px;
        height: 14px;
        left: 82px;
        /* background: url("../images/icons/filter.png") no-repeat center; */
        top: 45%;
        transform: translate(0%, -50%);
    }
    .block-sort-apartament{
        border-top:1px solid rgba(0,0,0,0.1);
    }
    .apart-shema .block-left{
        text-align: center;
    }
    .apart-shema .block-left h2{
        margin-left: 16px;
        margin-bottom: 20px;
        margin: 20px;
    }
    .apart-shema .block-left ul{
        width: 310px;
        position: relative;
        right: -6px;
        margin-top: 0px;
    }
    .img-block-apart-shema{
        margin-top: 60px;
        margin-left: 10px;
    }
    .block-for-mob-320-sort .block-horizontal-shema .block-horizontal {
        margin-top: 20px;
        width: 90%;
        position: relative;
        left: 20px;
    }
    .block-for-mob-320-sort .block-horizontal-label-main{
        font-size: 2px;
    }
    .block-for-mob-320-sort-btn-close{
        position: absolute;
        display: block;
        right: 15px;
        top: 26px;
        width: 23px;
        height: 23px;
        background: url("../images/icons/btn-close.png") no-repeat center;
    }
    .block-right .block-tags-sort{
        width: 100%;
        padding-left: 20px;
    }
    .block-right .block-tags-sort a{
        font-size: 14px;
        padding: 10px 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .apart-shema .block-right .block-shema-big{
        width: 90%;
    }
    .block-gk-docs{

    }
    .block-gk-docs .block-left {
        width: 100%;
    }
    .block-gk-docs .block-left .settlement-date{
        width: 276px;
    }
    .block-gk-docs .block-right {
        flex-flow: column;
        align-items: flex-start;
    }
    .block-gk-docs .block-right .blocl-docs-download {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
    }
    
    .block-gk-docs .block-right .blocl-docs-download .blocl-docs-download-file{
        margin-top: 20px;
    }
    .block-have-pluse .wrapper-2{
        display: flex;
        flex-flow: column;
        width: 95%;
        align-items: center;
    }
    .block-have-pluse .wrapper-2 a{
        height: 220px;
        margin: 0;
        margin-bottom: 20px;

    }
    .block-have-pluse .wrapper-2 a div{
        height: 100%;
    }


    /* page-gk end */

    /* compamy.html */
    .header-block-company{
        height: 564px;
    }

    .header-block-company .img-abs-cloud10{
        display: none;
    }
    .header-block-company .img-abs-cloud11{
        display: none;
    }
    .header-block-company .img-abs-cloud12{
        display: none;
    }
    .img-quadcopter-3{
        left: 0px;
        top: 160px; 
    }
    .img-air-snake-3 {
        display: none;
    }
    .img-sun-3{
        position: absolute;
        top: 100px;
        right: 5%;
    }
    .header-block-company h1{
        bottom: 30px;
    }
    .block-board-left-deg .img-abs-cloud10{
        display:none;
    }
    .block-board-left-deg .img-abs-cloud12{
        display:none;
    }
    .block-board-left-deg .img-abs-man-1 {
        position: relative;
        height: 35vh;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%);
    }
    .block-board-left-deg .header-block-desc-message-main{
        right: auto;
        position: relative;
        top: 0px;
        left: 50%;
        padding-top: 30px;
        transform: rotate(4deg) translate(-50%);
    }
    .block-board-left-deg .header-block-desc-message{
        font-size: 18px;
        line-height: 24px;
        width: 245px;
        padding: 10px;
    }
    .header-block-desc-message-768{
        /* display: none; */
    }
    .block-board-left-deg{
        overflow: hidden;
        position: relative;
        min-height: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .block-company-section {
        /* margin-top: 20px;
        height: 555px;
        margin-bottom: 30px; */
    }
    .main-blocl-desc h1 {
       margin-bottom: 50px;
    }
    .img-abs-man-2{
        width: 161px;
        right: 50%;
    }
    .block-board-left-deg.block-board-right-deg .header-block-desc-message-main{
        right: 473px;
    }
    .block-board-left-deg.block-board-right-deg .header-block-desc-message:before {
        left: 260px;
    }
    .block-our-life .block-title-our-life {
        text-align: center;
    }
    .block-our-life .block-title-our-life h2{
        float: none;
        margin-bottom: 20px;
    }
    .block-our-life .block-title-our-life a{
        float:none;
        display: inline-block;
    }
    .block-wrap-img-our-life{
        height: 360px;
    }
    .additional-services h2 {
        font-size: 30px;
        line-height: 34px;
        font-weight: 600;
    }
    .additional-services p {
        font-size: 18px;
        line-height: 24px;
    }
    .our-partners.slider-partners-2{
        left: 0px;
    }
    .slider-partners-2-block img{
        max-width: 260px;
        position: relative;
        left: 50%;
        transform: translate( -50% );
    }
    .our-partners.slider-partners-2 .slick-dots {
        display: inline-block;
        text-align: center;
        position: relative;
        left: 50%;
        margin-top: 30px;
        transform: translate( -50% );
    }
    .block-documents h2{
        margin-bottom: 30px;
    }
    .block-documents-items {
        justify-content: center;
    }
     /* compamy.html end*/

    /* apartament */
    .block-apartament-schema-mob-img img{
        max-width: 290px;
    }
    .apart-and-plan-float{
        display:none;
    }
    .apart-and-plan-float-2{
        display: block;
    }
    .block-apartament-schema-mob .apart-and-plan-float a{
        font-size: 12px;
    }
    .apart-and-plan-float{
        padding: 15px 24px;
        margin-bottom: 20px;
    }
    .block-htags-apartament {
        display: none;
    }
    .block-form-for-apartament-mob{
        width: 100%;
    }
    .block-form-for-apartament-mob .block-form-for-apartament-section-2{
        flex-flow: column;
    }
    .block-form-for-apartament-mob .block-form-for-apartament-section-2 .block-form-for-apartament-section-text{
        margin-bottom: 20px;
    }
    .block-form-for-apartament-mob .block-form-for-apartament-section-2 .block-form-for-apartament-section-text a{
        width: 300px;
    }
    .block-form-for-apartament-mob .block-form-for-apartament-section .block-form-for-apartament-section-text a{
        font-size: 12px;
        line-height: 14px;
    }
    .block-another-apartament img{
        max-width: 290px;
    }
    .single-item-num-wrapper {
        position: relative;
        height: 290px;
    }
    .single-item-num-wrapper .single-item-num img{
        height: 100%;
        width: 100%;
    }
    .single-item-num-wrapper .single-item-num{
        height: 290px;
    }
  
    
    .single-item .slick-prev.slick-arrow{
        top: 36%;
    }
    .single-item .slick-next.slick-arrow{
        top: 36%;
    }
    .wrapper-1.single-item-num-wrapper{
        height: 224px;
    }
    .single-item-num-wrapper .single-item-num-href{
        display: none;
    }
    .block-another-apartament-slider{
        display: none;
    }
    .block-another-apartament-slider-not{
        display: block;
        background-color: #f5f5f5;
        padding-top: 30px;
    }
    .block-another-apartament-slider-not h2{
        margin-bottom: 30px;
        text-align:center;
    }
    .block-another-apartament-slider-not a{
        font-size: 15px;
        line-height: 24px;
        color:#fe2929;
        text-align:center;
        display: block;

        padding-bottom: 30px;
    }
    .apartament-slider-item{
        position: relative;
    }
    .apartament-slider-item .apartament-slider-item-img{
        width: 80px;
        height: 80px;
    }
    .apartament-slider-item .apartament-slider-item-img img{
        max-width: 80px;
        max-height: 80px;
    }
    .another-apartament-slider-not{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .apartament-slider-item{
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
    .apartament-slider-item .apartament-slider-item-img span{
        position: absolute;
        top: 100%;
        transform: translate(-100%, -100%);
        left: 100%;
        font-size: 22px;
        color: #afafaf;
        font-size: 13px;
        width: 65px;
    }
    .apartament-slider-item-text h3{
        font-size: 18px;
        line-height: 30px;
    }

    .modal-wrapper.open{
        display: none;
    }

    .btn-block-for-mob-768-sort{
        display:none;
    }
    
    /* apartament end */


    .main-blocl-desc{
        margin-top: 35px;
    }
    .block-company-section-2 .block-board-left-deg .header-block-desc-message-main{
        left: 30px;
    }
    .block-company-section-2 .block-board-left-deg .header-block-desc-message-main{
        transform: rotate(-4deg) translate(-50%);
        left: 50%;
        padding-top: 20px;
        margin-bottom:20px;
    }
    .our-managers .block-our-managers .block-our-managers-item{
        width: 255px;
    }
    .our-managers .block-our-managers .block-our-managers-item img{
        max-width: 255px;
        width: 100%;
        max-height: auto;
        height: auto;
    }
    .our-managers .block-our-managers .block-our-managers-item p{
        font-size: 24px;
        font-weight: 600;
    }
    .our-managers .block-our-managers .block-our-managers-item a{
        font-size: 15px;
        margin-top: 10px;
    }
    .block-documents-items {
        justify-content: space-between;
    }
    .block-documents .block-documents-items .block-documents-item {
        margin-bottom: 50px;
        width: 230px;
    }
    .block-documents .block-documents-items .block-documents-item p {
        margin-top: 10px;
    }
    .block-documents .block-documents-items .block-documents-item{
        display: flex;
        margin-bottom: 50px;
        width: 230px;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-block-another-page-for-mobile{
        text-align: center;
    }
    .footer-block-another-page-for-mobile .block-first-foot .block-address-three{
        justify-content: center;
    }
    .footer-block-another-page-for-mobile .block-first-foot .block-address-two a{
        width: 100%;
        text-align: center;
    }
    .footer-block-another-page-for-mobile .block-second-foot .block-desc-foot-two .block-disayn-studie-yarow{
        justify-content: center;
    }
    .social-block-for-mobile{
        justify-content: center;
    }
    .header-title-apart a{
        width: 100%;
        font-size: 12px;
    }
    .block-sort-apartament{
        padding-bottom: 20px;
        padding-top: 0;
        margin-bottom: 40px;
    }
    .block-sort-apartament .wrapper-1{
        width: 100%;
        padding: 0;
    }
    .single-item .single-item-num .title-slider{
        top: 20px;
        left: 20px;
    }
    .block-have-pluse .wrapper-2 a h2{
        width: 220px;
        bottom: 20px;
    }
    .block-gk-docs h1{
        margin-bottom: 30px;
    }
    .block-gk-docs .block-left p {
        margin-bottom: 20px;
    }
    .block-gk-docs .block-right .blocl-docs-download{
        margin-bottom: 30px;
    }
    .block-layouts-scheme .block-list-main .block-left{
        width: 100%;
    }
    .block-model-scheme-list{
        margin-top: 30px;
        margin-bottom: 35px;
    }
    .block-model-scheme-list .open-modal-schema{
        display: block;
        width: 145px;
        height: 44px;
        border:2px solid #ff0e0e;
        border-radius: 5px;
        font-size: 13px;
        font-weight: 600;
        color:#ff0e0e;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        position: relative;
    }
    .block-model-scheme-list .open-modal-schema:after{
        background: url("../images/icons/strelka-4.png") no-repeat center;
        width: 10px;
        height: 6px;
        position: absolute;
        content: "";
        top: 36%;
        right: 20px;
        transform: rotate(180deg) translate(0%, -50%); 
    }

    .block-model-scheme-list .block-model-scheme-modal-3 .close-modal-schema-3{
        display: block;
        width: 145px;
        height: 44px;
        border:2px solid #ff0e0e;
        border-radius: 5px;
        font-size: 13px;
        font-weight: 600;
        color:#ff0e0e;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        position: relative;
    }
    .block-model-scheme-list .block-model-scheme-modal-3 .close-modal-schema-3:after{
        background: url("../images/icons/strelka-4.png") no-repeat center;
        width: 10px;
        height: 6px;
        position: absolute;
        content: "";
        top: 50%;
        right: 20px;
        transform: translate(0%, -50%); 
    }
    .block-model-scheme-modal-3-none{
        display: none;
    }
}
@media (max-width: 512px){
    .block-documents-items {
        justify-content: center;
    }
    .block-documents {
        margin-top: 50px;
        text-align: center;
    }
    .block-documents h1{
        margin-bottom: 0px;
    }
    .block-documents-items{
        margin-top: 30px;
    }
}