






@media (max-width: 1023px) {

    .block-board-left-deg .header-block-desc-message-main {
        right: 55px;
        top: auto;
        display: flex;
        /* bottom: 0px; */
        align-items: center;
    }
    .header-block-desc-message-768{
        font-weight: 600;
    }
    .header-block-desc-message-768 span{
        font-weight: 500;   
    }
    .block-board-left-deg .header-block-desc-message{
        font-size: 21px;
        line-height: 28px;
        width: 350px;
    }
    .img-abs-man-1 {
        left: 1%;
        /* width: 65vh; */
        width: auto;
        height: 65vh;
        position: absolute;
        /* top: -59px; */
        top: auto;
        bottom: 0px;
    }
    .block-board-left-deg{
        overflow: hidden;
    }

    .block-company-section-2 .img-abs-man-1{
        right: -100px;
    }
    .block-company-section-2 .block-board-left-deg{
        transform: rotate(4deg) scale(1.2);
    }
    .block-company-section-2 .block-board-left-deg .header-block-desc-message-main{
        transform: rotate(-4deg);
        right: auto;
        left: 30px;
    }



}